<div class="content">
  {{contact}}
  <form name="contactForm" ng-submit="sendMessage()" novalidate>
    <input type="text" name="name" placeholder="name" ng-required="true" ng-model="contact.name"/>
    <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
    </div>

    <input type="email" name="email" placeholder="email" ng-required="true" ng-model="contact.email"/>
    <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid email</small>
    </div>

    <textarea placeholder="Your message" name="message" ng-required="true" ng-model="contact.message"></textarea>
    <input type="submit" value="Send" ng-disabled="contactForm.$invalid"/>
  </form>
</div>
